.footer{
    max-width: 1184px;
    margin: 0 auto 24px;
    padding: 0 48px;
    justify-content: space-between;
    display: flex;
}

@media screen and (max-width: 816px) {
    .footer{
        padding: 0 24px;
    }
}

@media screen and (max-width: 750px) {
    .footer{
        padding-left: 16px;
        flex-direction: column;
    }
}